.border{
        border: 2px solid;
        margin: 3px ;
}
.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333 #121212;
}
.cardContainer{
  margin: 0;
  /* justify-content: center; */
}

